@import "compass";

/*base*/
html {
    font-size: 62.5%;
}

body {
    color: #555;
    font-size:1.4rem;
    line-height: 1.6;
    font-family: "游ゴシック",YuGothic, "メイリオ", Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    letter-spacing: 0.1rem;
}

$baseColor: #555;
$keyColor: #ccc;
$subColor: #666;

a {
    color: #333; 
    text-decoration: none;
    &:visited{
        color: #ccc;
    }
    &:hover{
        color: #ccc;
    }
    &:active{
        color: #ccc;
    }
}
.text-center {
  text-align: center; }

/*header*/
header{
    width: 100%;
    height: 250px;
    background-image: url(../images/main.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
header h1{
    display: none;
}

@media (min-width: 769px) {
    header{
    width: 100%;
    height: 500px;}
}

/*main*/
section h2{
    width: 80%;
    font-size: 2.4rem;
    font-weight: bold;
    margin: 40px auto;
}

/* blk1 */
#blk1 .container{
    width: 80%;
    margin:0 auto;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    -webkit-flex-direction: column;
    flex-direction: column;
}
#blk1 .container .layout_box{
    -webkit-flex: 1;
    flex: 1;
    margin: 0 0 20px;
    background-color: $keyColor;
}
#blk1 .container .layout_box h3{
    padding: 10px 0;
    font-size: 2rem;
    font-weight: bold;
    color: $subColor;
}
#blk1 .container .layout_box .txt_box{
    background-color: $subColor;
    padding: 20px 0;
}
#blk1 .container .layout_box .txt_box p{
    width: 90%;
    font-size: 1.8rem;
    color:#fff;
    margin: 0 auto;
}

@media (min-width: 769px) {
#blk1 .container {
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: space-between; }
#blk1 .container .layout_box {
    margin: 0 10px; } 
}

/* blk2 */
#blk2 {
    margin:40px auto;
    background-color: #dfdfdf;
}

#blk2 .button_box{
    width: 80%;
    margin:30px auto;
    padding:40px 0;
}
#blk2 .button_box p{
    width: 80%;
    margin:0 auto;
    font-size: 1.6rem; 
    font-weight: bold;
}
#blk2 .button_box a{
    width: 70%;
    margin:10px auto;
    display: block;
    background-color: #999;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 1.6rem; 
    color: #fff;
}
#blk2 .button_box a:hover{
    background-color: #ccc;
}
#blk2 .button_box a .button{
    padding: 10px 0;
}

@media (min-width: 769px) {
#blk2 .button_box a{
    width: 40%;
}
    
}
        